In [53]:
# This was a data cleaning challenge for me while i was studying. The dataset is the anti-icing early warning system of Municipality of Istanbul. The dataset includes raw data types such as unmerged and unstandardized datetime data, NA values, unmeasured datas, etc. Inside the excel file, there are different sheets which indicates the location of the values measured. Back in the days, I wanted to write a code in a holistic perspective which enables me to clean every row, and fill the rows with the exact way that I chose. Iteration through the sheets of the file was the key point to save me from being manual in this case.

In [54]:
# Let's see what we have inside the data
see_data = pd.read_excel("C:/Users/PC/Desktop/murat/PROGRAMMING/DATA ANALYSIS/data/buzlanma-erken-uyar-sistemi-verileri-beus-2017-2020.xlsx",sheet_name=None)
see_data["Alibahadır"].iloc[[130,132,140]]
# The "///"s are indicating the NaN values from unmeasured days, we need to clean these rows because it'll generate tracebacks. And also first two rows excluding the index are the datetime values in Turkish. We'll try to standardize and merge these two columns as one datetime64 format. The specific NaN values will be filled with the median in this case.

,Verinin Yılı,Gün / Ay,Min_Hava_S_Z,Min_Hava_S,Maks_Hava_S_Z,Maks_Hava_S,Ort_Hava_S,Min_Nem_Z,Min_Nem,Maks_NemZ,...,Min_AktuelB,Maks_AktuelB_Z,Maks_AktuelB,Ort_AktuelB,Top_Yagis,Min_Yol_S_Z,Min_Yol_S,Maks_Yol_S_Z,Maks_Yol_S,Ort_Yol_S
130,2018.0,8 Şubat,21:46:00,6.93,10:17:00,18.66,10.55,10:22:00,49.52,01:14:00,...,NaN,NaN,NaN,NaN,///,23:30:00,5.8,10:38:00,20,9.82
132,2018.0,10 Şubat,///,///,///,///,///,///,///,///,...,NaN,NaN,NaN,NaN,///,///,///,///,///,///
140,2018.0,18 Şubat,///,///,///,///,///,///,///,///,...,NaN,NaN,NaN,NaN,///,///,///,///,///,///

In [55]:
import pandas as pd
main_data = pd.read_excel("C:/Users/PC/Desktop/murat/PROGRAMMING/DATA ANALYSIS/data/buzlanma-erken-uyar-sistemi-verileri-beus-2017-2020.xlsx",sheet_name=None,na_values="///") # returns a dictionary of the excel file including all excel sheets as keys and the variable inside is the dataframe for sheets
sheet_names = list(main_data.keys()) # returns the list including all sheet names
sheet_names

['Metadata',
 'Alibahadır',
 'Başakşehir',
 'Çamlıca tunel güney',
 'Çamlıca tunel kuzey',
 'Çiftalan',
 'Durusu',
 'Odayeri',
 'Paşaköy',
 'Riva tunel güney',
 'Riva tunel k',
 'Sabiha Gökçen',
 'Subaşı',
 'Süreyyapaşa',
 'Uskumruköy',
 'YSS Köprüsü',
 'beylerbeyi',
 'D100 gümüşyaka',
 'D100 kumburgaz',
 'D100 silivri',
 'Göksu evleri',
 'Harem rampası',
 'İstanbul havalimanı',
 'Kayaşehir',
 'Kemerburgaz',
 'Kozyatağı',
 'TEM Çatalc Gişeler',
 'Bakırköy Sahilyolu',
 'Tarlabaşı',
 'Aşiyan',
 'Sultanbeyli',
 'Tuzla Piyade Okulu',
 'Şile Yolu Ömerli']

In [56]:
# Here I encountered such an interesting traceback, and the solution was even more interesting. Normally; here in ipynb, the code works without any problem but when I wanted to run this code in ".py" format I was having traceback. The solution was just to write the following commentary line as "# pylint: disable=abstract-class-instantiated" and this made python ignore the traceback and I could move on. I wanted to have a clean excel file here outside the for loop I'm about to build.
writer = pd.ExcelWriter('clean_sheet.xlsx',engine='xlsxwriter')# pylint: disable=abstract-class-instantiated
writer

In [58]:
for sheet in sheet_names[1:]: # excluding the metadata in the first sheet
    
    active_sheet = pd.read_excel("C:/Users/PC/Desktop/murat/PROGRAMMING/DATA ANALYSIS/data/buzlanma-erken-uyar-sistemi-verileri-beus-2017-2020.xlsx",sheet_name=sheet,na_values="///",skiprows=[1]) # we'll skip the first row to pass the column names, iterate through the sheet names and replace the "///"s with NaN.

    active_sheet_med = active_sheet.median() # storing the active median in the variable
    active_med = active_sheet_med.to_dict() # converting active_sheet_med from series to dataframe object
    
    for col in active_sheet: # every column name in the active sheet represented by col
        active_col = active_sheet[col]
        
        if active_col.isnull().all(): # there are some columns with full of NaN values, we want to drop them
            active_sheet.drop(columns=col,inplace=True)

    
    
    active_sheet.fillna(active_med,inplace=True) # fill the NaN values with the median of the active column in the for loop
    
    active_sheet.to_excel(writer, sheet_name=sheet,index=False) # converting back to excel
    print(sheet) # while iterating, i wanted to see which one is being written so added this print command
writer.save()

Alibahadır
Başakşehir
Çamlıca tunel güney
Çamlıca tunel kuzey
Çiftalan
Durusu
Odayeri
Paşaköy
Riva tunel güney
Riva tunel k
Sabiha Gökçen
Subaşı
Süreyyapaşa
Uskumruköy
YSS Köprüsü
beylerbeyi
D100 gümüşyaka
D100 kumburgaz
D100 silivri
Göksu evleri
Harem rampası
İstanbul havalimanı
Kayaşehir
Kemerburgaz
Kozyatağı
TEM Çatalc Gişeler
Bakırköy Sahilyolu
Tarlabaşı
Aşiyan
Sultanbeyli
Tuzla Piyade Okulu
Şile Yolu Ömerli

In [59]:
cleany =  pd.read_excel("clean_sheet.xlsx",sheet_name="Alibahadır")
cleany.head()

,Verinin Yılı,Gün / Ay,Min_Hava_S_Z,Min_Hava_S,Maks_Hava_S_Z,Maks_Hava_S,Ort_Hava_S,Min_Nem_Z,Min_Nem,Maks_NemZ,...,Maks_RuzH_Z,Maks_RuzH,Ort_RuzH,Ort_RuzY,Top_Yagis,Min_Yol_S_Z,Min_Yol_S,Maks_Yol_S_Z,Maks_Yol_S,Ort_Yol_S
0,2017,2 Ekim,03:31:00,13.97,11:19:00,18.90,16.37,10:40:00,51.72,03:34:00,...,03:53:00,10.33,4.65,44.16,0.43,03:12:00,13.7,11:24:00,31.4,18.84
1,2017,3 Ekim,23:59:00,8.95,09:18:00,19.42,14.64,08:19:00,46.01,21:54:00,...,01:01:00,8.16,2.84,100.22,0.00,23:58:00,11.7,09:20:00,32.9,19.00
2,2017,4 Ekim,03:08:00,7.65,13:51:00,19.82,13.75,08:22:00,55.43,23:58:00,...,09:45:00,7.19,1.97,126.73,0.00,03:03:00,10.3,11:20:00,35.1,19.70
3,2017,5 Ekim,04:00:00,7.57,12:58:00,23.05,15.29,12:58:00,45.53,00:48:00,...,11:16:00,5.77,2.29,182.64,0.07,03:59:00,10.0,10:59:00,34.3,19.79
4,2017,6 Ekim,03:26:00,11.47,13:57:00,25.46,17.53,13:53:00,37.11,23:59:00,...,09:06:00,10.40,2.94,193.86,12.93,03:53:00,12.2,10:45:00,35.1,21.34