# This was a data cleaning challenge for me while I was studying. The dataset is the anti-icing early warning system of Municipality of Istanbul. The dataset includes raw data types such as unmerged and unstandardized datetime data, NA values, unmeasured datas, etc. Inside the excel file, there are different sheets which indicates the location of the values measured. Back in the days, I wanted to write a code in a holistic perspective which enables me to clean every row, and fill the rows with the exact way that I chose. Iteration through the sheets of the file was the key point to save me from being manual in this case. 
# I think the holistic mindset while approaching to the code is a great advantage while you're working with the big data. Even though I was studying and learning so that keeping things simple is a smart option, I imagined that I'm working in a bigger scaled data so that some things that I handle manually will be impossible to follow through. So I paid attention to avoid doing things manualy. I prioritized the code to realize things.

In [20]:
# Let's see what we have inside the data
import pandas as pd
see_data = pd.read_excel("C:/Users/PC/Desktop/murat/PROGRAMMING/DATA ANALYSIS/data/buzlanma-erken-uyar-sistemi-verileri-beus-2017-2020.xlsx",sheet_name=None)
see_data["Alibahadır"].iloc[[130,132,140]]
# The "///"s are indicating the NaN values from unmeasured days, we need to clean these rows because it'll generate tracebacks. And also first two rows excluding the index are the datetime values in Turkish. We'll try to standardize and merge these two columns as one datetime64 format. The specific NaN values will be filled with the median in this case.

,Verinin Yılı,Gün / Ay,Min_Hava_S_Z,Min_Hava_S,Maks_Hava_S_Z,Maks_Hava_S,Ort_Hava_S,Min_Nem_Z,Min_Nem,Maks_NemZ,...,Min_AktuelB,Maks_AktuelB_Z,Maks_AktuelB,Ort_AktuelB,Top_Yagis,Min_Yol_S_Z,Min_Yol_S,Maks_Yol_S_Z,Maks_Yol_S,Ort_Yol_S
130,2018.0,8 Şubat,21:46:00,6.93,10:17:00,18.66,10.55,10:22:00,49.52,01:14:00,...,NaN,NaN,NaN,NaN,///,23:30:00,5.8,10:38:00,20,9.82
132,2018.0,10 Şubat,///,///,///,///,///,///,///,///,...,NaN,NaN,NaN,NaN,///,///,///,///,///,///
140,2018.0,18 Şubat,///,///,///,///,///,///,///,///,...,NaN,NaN,NaN,NaN,///,///,///,///,///,///

In [21]:
main_data = pd.read_excel("C:/Users/PC/Desktop/murat/PROGRAMMING/DATA ANALYSIS/data/buzlanma-erken-uyar-sistemi-verileri-beus-2017-2020.xlsx",sheet_name=None,na_values="///") # returns a dictionary of the excel file including all excel sheets as keys and the variable inside is the dataframe for sheets
sheet_names = list(main_data.keys()) # returns the list including all sheet names
sheet_names

['Metadata',
 'Alibahadır',
 'Başakşehir',
 'Çamlıca tunel güney',
 'Çamlıca tunel kuzey',
 'Çiftalan',
 'Durusu',
 'Odayeri',
 'Paşaköy',
 'Riva tunel güney',
 'Riva tunel k',
 'Sabiha Gökçen',
 'Subaşı',
 'Süreyyapaşa',
 'Uskumruköy',
 'YSS Köprüsü',
 'beylerbeyi',
 'D100 gümüşyaka',
 'D100 kumburgaz',
 'D100 silivri',
 'Göksu evleri',
 'Harem rampası',
 'İstanbul havalimanı',
 'Kayaşehir',
 'Kemerburgaz',
 'Kozyatağı',
 'TEM Çatalc Gişeler',
 'Bakırköy Sahilyolu',
 'Tarlabaşı',
 'Aşiyan',
 'Sultanbeyli',
 'Tuzla Piyade Okulu',
 'Şile Yolu Ömerli']

In [22]:
# Here I encountered such an interesting traceback, and the solution was even more interesting. Normally; here in ipynb, the code works without any problem but when I wanted to run this code in ".py" format I was having traceback. The solution was just to write the following commentary line as "# pylint: disable=abstract-class-instantiated" and this made python ignore the traceback and I could move on. I wanted to have a clean excel file here outside the for loop I'm about to build.
writer = pd.ExcelWriter('clean_sheet.xlsx',engine='xlsxwriter')# pylint: disable=abstract-class-instantiated
writer

In [23]:

for sheet in sheet_names[1:]: # excluding the metadata in the first sheet
    
    active_sheet = pd.read_excel("C:/Users/PC/Desktop/murat/PROGRAMMING/DATA ANALYSIS/data/buzlanma-erken-uyar-sistemi-verileri-beus-2017-2020.xlsx",sheet_name=sheet,na_values="///",skiprows=[1]) # we'll skip the first row to pass the column names, iterate through the sheet names and replace the "///"s with NaN.

    active_sheet_med = active_sheet.median() # storing the active median in the variable
    active_med = active_sheet_med.to_dict() # converting active_sheet_med from series to dataframe object
    
    for col in active_sheet: # every column name in the active sheet represented by col
        active_col = active_sheet[col]
        
        if active_col.isnull().all(): # there are some columns with full of NaN values, we want to drop them
            active_sheet.drop(columns=col,inplace=True)

    
    
    active_sheet.fillna(active_med,inplace=True) # fill the NaN values with the median of the active column in the for loop
    
    active_sheet.to_excel(writer, sheet_name=sheet,index=False) # converting back to excel
    print(sheet) # while iterating, i wanted to see which one is being written so added this print command
writer.save()

Alibahadır
Başakşehir
Çamlıca tunel güney
Çamlıca tunel kuzey
Çiftalan
Durusu
Odayeri
Paşaköy
Riva tunel güney
Riva tunel k
Sabiha Gökçen
Subaşı
Süreyyapaşa
Uskumruköy
YSS Köprüsü
beylerbeyi
D100 gümüşyaka
D100 kumburgaz
D100 silivri
Göksu evleri
Harem rampası
İstanbul havalimanı
Kayaşehir
Kemerburgaz
Kozyatağı
TEM Çatalc Gişeler
Bakırköy Sahilyolu
Tarlabaşı
Aşiyan
Sultanbeyli
Tuzla Piyade Okulu
Şile Yolu Ömerli

In [24]:
cleany =  pd.read_excel("clean_sheet.xlsx",sheet_name="Alibahadır")
# But we see that we didn't yet standardize the date columns, they're still seperated they're not convertible to datetime64 format because of the language. The next step will be putting all in one shell and getting them ready to the datetime64 format.
cleany.head()

,Verinin Yılı,Gün / Ay,Min_Hava_S_Z,Min_Hava_S,Maks_Hava_S_Z,Maks_Hava_S,Ort_Hava_S,Min_Nem_Z,Min_Nem,Maks_NemZ,...,Maks_RuzH_Z,Maks_RuzH,Ort_RuzH,Ort_RuzY,Top_Yagis,Min_Yol_S_Z,Min_Yol_S,Maks_Yol_S_Z,Maks_Yol_S,Ort_Yol_S
0,2017,2 Ekim,03:31:00,13.97,11:19:00,18.90,16.37,10:40:00,51.72,03:34:00,...,03:53:00,10.33,4.65,44.16,0.43,03:12:00,13.7,11:24:00,31.4,18.84
1,2017,3 Ekim,23:59:00,8.95,09:18:00,19.42,14.64,08:19:00,46.01,21:54:00,...,01:01:00,8.16,2.84,100.22,0.00,23:58:00,11.7,09:20:00,32.9,19.00
2,2017,4 Ekim,03:08:00,7.65,13:51:00,19.82,13.75,08:22:00,55.43,23:58:00,...,09:45:00,7.19,1.97,126.73,0.00,03:03:00,10.3,11:20:00,35.1,19.70
3,2017,5 Ekim,04:00:00,7.57,12:58:00,23.05,15.29,12:58:00,45.53,00:48:00,...,11:16:00,5.77,2.29,182.64,0.07,03:59:00,10.0,10:59:00,34.3,19.79
4,2017,6 Ekim,03:26:00,11.47,13:57:00,25.46,17.53,13:53:00,37.11,23:59:00,...,09:06:00,10.40,2.94,193.86,12.93,03:53:00,12.2,10:45:00,35.1,21.34

In [25]:
translate = {"Ocak":"Jan", "Şubat":"Feb", "Mart": "Mar", "Nisan":"Apr", "Mayıs": "May", "Haziran":"Jun", "Temmuz":"Jul", "Ağustos":"Aug", "Eylül":"Sep", "Ekim":"Oct" ,"Kasım":"Nov", "Aralık":"Dec"} # in a dictionary, we'll store the turkish month names in keys, and english translations in values 
writer = pd.ExcelWriter('clean_sheet.xlsx',engine='xlsxwriter')# pylint: disable=abstract-class-instantiated

for sheet in sheet_names[1:]:
    
    active_sheet = pd.read_excel("clean_sheet.xlsx",sheet_name=sheet) # we're working with the recent excel file we generated
    tl_ed = [] # this list is for translated values, we'll store them here to get them out of the following for loop
    for value in active_sheet[" Gün / Ay"]:
        day, month_tr = value.split() # splitting each row of the day column and storing these seperated values in two different variables
        month_en = translate[month_tr] # giving the turkish name and getting the value which is english translations of month names
        new_value = " ".join([day,month_en]) # joining them together with a space
        tl_ed.append(new_value) # appending the values to an outside list through the iteration
    active_sheet["Verinin Yılı"] = active_sheet["Verinin Yılı"].apply(int).apply(str) # to concatenate the year values we have to turn them into strings
    active_sheet[" Gün / Ay"] = tl_ed # the outside list already store the info we need, we assigned it to the related column
    active_sheet[" Gün / Ay"] = active_sheet[" Gün / Ay"] + " " + active_sheet["Verinin Yılı"] # now it's time to adding them together with a space in the middle
    active_sheet.drop(columns="Verinin Yılı",inplace=True) # we don't need the year column anymore so we drop it
    active_sheet[" Gün / Ay"] = pd.to_datetime(active_sheet[" Gün / Ay"]) # at last, we converted it to the valid datetime64 format
    active_sheet.rename(columns={" Gün / Ay":"Tarih"},inplace=True) # the dataset is turkish and we haven't fully translated the col names yet so let's stick with turkish. i'll rename the column as "tarih" which means "date" in turkish. 
    active_sheet.to_excel(writer, sheet_name=sheet,index=False) # same writing syntax here

writer.save()

In [26]:
cleany =  pd.read_excel("clean_sheet.xlsx",sheet_name="Alibahadır")
cleany

,Tarih,Min_Hava_S_Z,Min_Hava_S,Maks_Hava_S_Z,Maks_Hava_S,Ort_Hava_S,Min_Nem_Z,Min_Nem,Maks_NemZ,Maks_Nem,...,Maks_RuzH_Z,Maks_RuzH,Ort_RuzH,Ort_RuzY,Top_Yagis,Min_Yol_S_Z,Min_Yol_S,Maks_Yol_S_Z,Maks_Yol_S,Ort_Yol_S
0,2017-10-02,03:31:00,13.97,11:19:00,18.90,16.37,10:40:00,51.72,03:34:00,96.1,...,03:53:00,10.33,4.65,44.16,0.43,03:12:00,13.7,11:24:00,31.4,18.84
1,2017-10-03,23:59:00,8.95,09:18:00,19.42,14.64,08:19:00,46.01,21:54:00,95.2,...,01:01:00,8.16,2.84,100.22,0.00,23:58:00,11.7,09:20:00,32.9,19.00
2,2017-10-04,03:08:00,7.65,13:51:00,19.82,13.75,08:22:00,55.43,23:58:00,99.5,...,09:45:00,7.19,1.97,126.73,0.00,03:03:00,10.3,11:20:00,35.1,19.70
3,2017-10-05,04:00:00,7.57,12:58:00,23.05,15.29,12:58:00,45.53,00:48:00,99.3,...,11:16:00,5.77,2.29,182.64,0.07,03:59:00,10.0,10:59:00,34.3,19.79
4,2017-10-06,03:26:00,11.47,13:57:00,25.46,17.53,13:53:00,37.11,23:59:00,89.6,...,09:06:00,10.40,2.94,193.86,12.93,03:53:00,12.2,10:45:00,35.1,21.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,2020-06-26,02:47:00,19.37,11:21:00,25.16,22.82,11:23:00,74.27,02:50:00,99.7,...,10:04:00,11.38,2.56,52.94,273.85,02:22:00,22.2,11:30:00,44.6,29.78
999,2020-06-27,22:44:00,18.75,12:28:00,25.58,22.75,12:17:00,70.42,03:32:00,98.1,...,11:03:00,9.84,2.56,75.91,323.33,02:36:00,21.9,11:45:00,49.3,33.56
1000,2020-06-28,02:17:00,17.28,11:57:00,26.54,22.68,09:42:00,57.26,02:23:00,99.6,...,09:42:00,8.58,2.56,101.93,195.13,02:42:00,21.5,11:36:00,53.6,35.60
1001,2020-06-29,23:35:00,16.03,11:24:00,27.06,22.24,10:27:00,49.37,03:59:00,100.0,...,13:54:00,5.93,2.56,127.22,239.99,03:05:00,22.0,11:22:00,53.6,35.17
1002,2020-06-30,02:52:00,14.68,13:58:00,30.74,23.58,11:26:00,34.91,00:56:00,99.7,...,10:22:00,5.48,2.56,135.39,331.12,03:40:00,20.2,11:04:00,53.8,35.62

In [27]:
cleany.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tarih          1003 non-null   datetime64[ns]
 1   Min_Hava_S_Z   676 non-null    object
 2   Min_Hava_S     1003 non-null   float64
 3   Maks_Hava_S_Z  676 non-null    object
 4   Maks_Hava_S    1003 non-null   float64
 5   Ort_Hava_S     1003 non-null   float64
 6   Min_Nem_Z      670 non-null    object
 7   Min_Nem        1003 non-null   float64
 8   Maks_NemZ      676 non-null    object
 9   Maks_Nem       1003 non-null   float64
 10  Ort_Nem        1003 non-null   float64
 11  Min_RuzH_Z     676 non-null    object
 12  Min_RuzH       1003 non-null   float64
 13  Maks_RuzH_Z    676 non-null    object
 14  Maks_RuzH      1003 non-null   float64
 15  Ort_RuzH       1003 non-null   float64
 16  Ort_RuzY       1003 non-null   float64
 17  Top_Yagis      1003 non-null   float64
 18  Min_Yol_S_Z    674 non-null    object
 19  Min_Yol_S      1003 non-null   float64
 20  Maks_Yol_S_Z   674 non-null    object
 21  Maks_Yol_S     1003 non-null   float64
 22  Ort_Yol_S      1003 non-null   float64
dtypes: datetime64[ns](1), float64(14), object(8)
memory usage: 180.4+ KB